/* Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
main,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Bare elements */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.buttonReset {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;

  border: none;

  background: transparent;

  color: inherit;
  font: inherit;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  line-height: normal;
  -webkit-appearance: none;
}
